@model Ertunc_Tibbi_Cihaz_Web_Site.Models.Model.Slider

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout .cshtml";
}

<div class="col-lg-12">
    <h3 class="page-header"><i class="fa fa-table table-responsive-sm"></i> Slider Sil</h3>
    <ol class="breadcrumb">
        <li><i class="fa fa-home"></i><a href="/Admin/Index/">AnaSayfa</a></li>
        <li><i class="fa fa-table"></i><a href="/Slider/">Slider</a></li>
        <li><i class="fa fa-table">Slider Sil</i></li>

    </ol>
</div>
<h3>Bu Kaydı Silmek İstediğinize Emin misiniz?</h3>
<div>
    <h4>Slider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Baslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Baslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResimURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResimURL)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Geri Dön", "Index")
        </div>
    }
</div>
