@model IEnumerable<Ertunc_Tibbi_Cihaz_Web_Site.Models.Model.Sertifikalar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout .cshtml";
}

<div class="col-lg-12">
    <h3 class="page-header"><i class="fa fa-table table-responsive-sm"></i> Setifika Oluştur</h3>
    <ol class="breadcrumb">
        <li><i class="fa fa-home"></i><a href="/YonetimPaneli">AnaSayfa</a></li>
        <li><i class="fa fa-table"></i><a href="/Sertifikalar/">Sertifikalar</a></li>

    </ol>
</div>
<p>
    @Html.ActionLink("Yeni", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResimURL)
        </th>
        <th>İşlemler</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ad)
        </td>
        <td>
            <img src="@item.ResimURL" height="100" width="100" alt="Alternate Text" />
        </td>
        <td>
            @Html.ActionLink("Güncelle", "Edit", new { id=item.SertifikaId }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.SertifikaId })
        </td>
    </tr>
}

</table>
