
<footer>
    <div class="container">
        <div class="row">

            <div class="span3">
                <div class="widget">
                    <h5 class="widgetheading">Ankara Merkez Ofis-İletişim</h5>
                    <address>
                        <strong>@ViewBag.Kimlik.Title</strong><br>
                        @ViewBag.Iletisim.Adres
                    </address>
                    
                    <p>
                        <i class="icon-phone"></i> @ViewBag.Iletisim.Telefon <br>
                        <i class="icon-phone-sign"></i> @ViewBag.Iletisim.Fax <br>
                        <i class="icon-envelope-alt"></i> @ViewBag.Iletisim.Email
                    </p>
                    
                </div>
            </div>


            <div class="span3">
                <div class="widget">
                    <h5 class="widgetheading">Antalya Ofis-İletişim</h5>
                    <address>
                        <strong> Antalya Ofis</strong><br>
                        Antalya Ofisimiz Cok Yakında Hizmetinizde...
                    </address>

                    <p>
                        <i class="icon-phone"></i>- <br>
                        <i class="icon-phone-sign"></i> - <br>
                        <i class="icon-envelope-alt"></i> -
                    </p>

                </div>
            </div>
        </div>
    </div>
    <div id="sub-footer">
        <div class="container">
            <div class="row">
                <div class="span6">
                    <div class="copyright">
                        <p>
                            <span>&copy; @ViewBag.Kimlik.Title - All right reserved.</span>
                           
                        </p>

                        <div class="credits">
                            <!--
                              All the links in the footer should remain intact.
                              You can delete the links only if you purchased the pro version.
                              Licensing information: https://bootstrapmade.com/license/
                              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Flattern
                            -->
                            Designed by <a href="#">Kayra Ajans&Ems </a>
                        </div>
                    </div>
                </div>
                <div class="span6">
                    <ul class="social-network">
                        <li><a href="@ViewBag.Iletisim.Instagram" data-placement="bottom" title="Instagram"><img src="~/Content/SiteLayout/ico/icons8-instagram-24.png"class="icon-square"></a></li>
                        <li><a href="@ViewBag.Iletisim.Facebook" data-placement="bottom" title="Facebook"><i class="icon-facebook icon-square"></i></a></li>
                        <li><a href="@ViewBag.Iletisim.Twitter" data-placement="bottom" title="Twitter"><i class="icon-twitter icon-square"></i></a></li>
                                                <li>
                            <script id="_wau7nm">var _wau = _wau || []; _wau.push(["dynamic", "gkhy8te1ko", "7nm", "c4302bffffff", "small"]);</script>
                            <script async src="//waust.at/d.js"></script>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

