@model IEnumerable<Ertunc_Tibbi_Cihaz_Web_Site.Models.Model.Biomedikal>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout .cshtml";
}

<div class="col-lg-12">
    <h3 class="page-header"><i class="fa fa-table table-responsive-sm"></i> Biomedikal Hizmetler </h3>
    <ol class="breadcrumb">
        <li><i class="fa fa-home"></i><a href="/YonetimPaneli">AnaSayfa</a></li>
        <li><i class="fa fa-table"></i><a href="/Biomedikal/">Biomedikal Hizmetler</a></li>
      

    </ol>
</div>
<p>
    @Html.ActionLink("Yeni", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BiomedikalKategori.BiomedikalKategoriAd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Baslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResimURL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BiomedikalKategori.BiomedikalKategoriAd)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Baslik)
        </td>
        <td>
            <img src="@item.ResimURL" width="100" height="100" /></td>
        <td>
            @Html.ActionLink("Güncelle", "Edit", new { id=item.BiomedikalId }) |
            @Html.ActionLink("Sil", "Delete", new { id=item.BiomedikalId })
        </td>
    </tr>
}

</table>
